<div class="main-block">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <table class="table table-striped">
          <tr>
            <th><a>GROCERY ITEM</a></th>
            <th><a>INGREDIENTS</a></th>
          </tr>
          <% @groceries.each do |grocery| %>
          <% if grocery.ingredients.any? %>
          <tr>
            <td><a><%= grocery.description %></a></td>
            <td>
              <% grocery.ingredients.each do |ingredient| %>
              <p><%= ingredient.description %></p>
              <% end %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>