<div class="main-block">
  <div class="container">
    <div class="row">  
      <div class="col-md-6">
        <a>INSERT INGREDIENTS</a>
      </div>
      <div class="col-md-6">
        <a>INSERT GROCERIES</a>
      </div>
    </div>
  </div>
</div>