<div ng-app="app">
  <div ng-controller="recipesCtrl" ng-init="setup()">
<!-- Page heading one starts -->

<div class="page-heading-one">
  <h2>Recipe Search</h2>
  <!--   <p class="bg-color">Our Works Here</p> -->
</div>

<!-- Page heading one ends -->

<!-- Main content starts -->

<div class="main-block">

<!-- Search Selection starts -->

<div class="container">
  <div>
    <h2>Select your main ingredients:</h2>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      
      <h4>Ingredient #1:<input list="optionsOne" ng-model="ingredientOne">
      <datalist id="optionsOne">
      <option ng-repeat="grocery in groceries | filter: {current_user: true} | orderBy:'description'"> {{ grocery.description }} </option>
      </datalist></h4>
    
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      
      <h4 ng-show="ingredientOne || ingredientTwo">Ingredient #2:<input list="optionsTwo" ng-model="ingredientTwo">
      <datalist id="optionsTwo">
      <option ng-repeat="grocery in groceries | filter: {current_user: true} | orderBy:'description'"> {{ grocery.description }} </option>
      </datalist></h4>

      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      
      <h4 ng-show="ingredientTwo || ingredientThree">Ingredient #3:<input list="optionsThree" ng-model="ingredientThree">
      <datalist id="optionsThree">
      <option ng-repeat="grocery in groceries | filter: {current_user: true} | orderBy:'description'"> {{ grocery.description }} </option>
      </datalist></h4>
      
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      <h4>Search Term:<input ng-model="searchTerm">
      </h4>
      </div>
    </div>
    <div class="row">
    
    <a ng-click="recipeSearch(ingredientOne, ingredientTwo, ingredientThree, searchTerm)" class="btn btn-lg btn-grey">Search for Recipes</a>

    </div>
  </div>
</div>

<!-- Search Selection ends -->

<!-- Filters starts -->
<div class="container">
</div>
<!-- Filters ends -->

<!-- Search Results starts -->
<div class="container">         
  <div class="row">
    <div class="col-md-10">
    
      <!-- Search results starts -->
      <div class="search-results">
      
        <h4>"Search results for your search for <span class="color">Brave</span>"</h4>
        <p>About 2,500 results found</p>
        <hr />
        
        <!-- Search result item -->
        <div class="s-result-item">
          <!-- Item title -->
          <h5><a href="#" class="blue">Purchase Brave Theme - Bootstrap Themes</a></h5>
          <!-- Item link -->
          <a href="#" class="green">http://www.google.com</a>
          <!-- Item para -->
          <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
          <!-- Item link list -->
          <div class="s-links">
            <a href="#" class="blue">Download</a> - 
            <a href="#" class="blue">Purchase</a> - 
            <a href="#" class="blue">Contact</a> - 
            <a href="#" class="blue">About Us</a> 
          </div>
        </div>
        
        <!-- Search result item -->
        <div class="s-result-item">
          <!-- Item title -->
          <h5><a href="#" class="blue">Purchase Brave Theme - Bootstrap Themes</a></h5>
          <!-- Item link -->
          <a href="#" class="green">http://www.google.com</a>
          <!-- Item para -->
          <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Search Results ends -->

</div>
<!-- Main content ends -->
  </div>
</div>