<!-- Main content starts -->

<div class="main-block">

  <!-- Page heading one starts -->
  
  <div class="page-heading-one">
    <h2>Hello, thank you for using <span class="color">ChefHat</span></h2>
    <br />
    <br />
    <p class="bg-color">Please Contact Me</p>
    <br />
    <br />
    <br />
    <h3>I hope you've enjoyed some delicious meals</h3>
    <br />
    <br />
  </div>

  <!-- Page heading one ends -->

  <div class="container">
    <div class="contact-us-three">
      <br />

      <div class="row">
        
        <div class="col-md-4 col-md-offset-4">

          <div class="well">
            <h6><i class="fa fa-home"></i>&nbsp;&nbsp;General Info</h6>
            <p>ChefHat was created by Mark Bouslog for the AnyoneCanLearnToCode bootcamp capstone project.  The project is constantly being improved, and deployed only as a portfolio piece.  ChefHat is not intended to be used by anyone without express consent of Mark Bouslog.  ChefHat is built with Ruby on Rails, utilizing JavaScript and AngularJS.</p>
          </div>
          
          <div class="well">
          <!-- Heading -->
          <h6><i class="fa fa-user"></i>&nbsp;&nbsp;Mark Bouslog</h6>
          <!-- Paragraph -->
          <p>
            <i class="fa fa-envelope"></i>&nbsp;&nbsp;Mail: mcbouslog@gmail.com<br />
          </p>
          <p>Chicago, IL</p>
          </div>

        </div>
      </div>

    </div>      
  </div>
</div>

<!-- Main content ends -->