<div ng-app="app">
  <div ng-controller="groceriesCtrl" ng-init="setup()">
<!-- Page heading one starts -->

<div class="page-heading-one">
  <h2>Cook dinner tonight.</h2>
  <h3>Save your <span class="color">groceries</span>, use <span class="color">ChefHat</span> to find the <span class="color">perfect meal</span>.</h3>
  <i class="fa fa-cutlery color br-color"></i>
  <br />
<!--   <p class="bg-color">Our Works Here</p> -->
</div>

<!-- Page heading one ends -->      

<!-- Main content starts -->

<div class="main-block">
  <div class="smart-forms">

  <!-- Parallax block one -->
  <form>
  <div class="parallax-one">
    <div class="container">
      <!-- Parallax element block -->
      <div class="p-element">
<!--    <h2>Groceries!</h2> -->

        <!-- Accordion starts -->
        <div class="panel-group" id="accordion-alt2">
         <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
          <div class="panel panel-green"> 
          <!-- Panel heading -->
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseOne-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Fresh Produce
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseOne-alt2" class="panel-collapse collapse">
            <!-- Panel body -->
            <div class="panel-body section">
                            
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'produce'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
              
            </div>
           </div>
          </div>
          <div class="panel panel-red">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseTwo-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Meats, Seafood & Tofu
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseTwo-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'meat' || grocery.grocery_category === 'seafood'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>

            </div>
           </div>
          </div>
          <div class="panel panel-blue">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseThree-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Bakery & Dairy
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseThree-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'bakery' || grocery.grocery_category === 'dairy'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-white">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseFour-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Other Fridge & Freezer Items
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseFour-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'other_frig'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-lblue">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseFive-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Other Pantry Items
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseFive-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'other_dry'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-orange">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseSix-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Spices & Sauces
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseSix-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'spices' || grocery.grocery_category === 'sauces'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-purple">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseSeven-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a>
               Miscellaneous
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseSeven-alt2" class="panel-collapse collapse">
            <div class="panel-body">

              <div>
                <label>Ingredient Search:
                  <input list="searchIngredients" ng-model="searchIngredient">
                  <button ng-click="add(searchIngredient)">Add</button>
                  <datalist id="searchIngredients">
                  <option ng-repeat="ingredient in searchIngredients | orderBy: ingredient">{{ ingredient }}</option>
                  </datalist>
                </label>
                <div ng-repeat="ingredient in userIngredients | orderBy:'description'">
                  <label ng-class="{blue: ingredient.current_user}" ng-show="ingredient.current_user" class="option col-xs-2">
                    <input type="checkbox" ng-model="ingredient.current_user">
                    <span class="checkbox"></span>
                    {{ ingredient.description }}
                  </label>
                </div>
              </div>

            </div>
           </div>
          </div>
        </div>
        </div>
        <!-- Accordion ends -->
      </div>
    <div class="recipe-search-btn">
    <a ng-click="save()" class="btn btn-lg btn-white" href="/recipes">Recipe Search</a>
    </div>
    </div>
  </form>

  </div>
</div>

<!-- Main content ends -->
  </div>
</div>