<div ng-app="app">
  <div ng-controller="groceriesCtrl" ng-init="setup()">
<!-- Page heading one starts -->

<div class="page-heading-one">
  <h2>Cook dinner tonight.</h2>
  <!-- <i class="fa fa-cutlery color br-color"></i> -->
  <h3>Enter your <span class="orange">groceries</span>, use <span class="color">ChefHat</span> to find the <span class="red">perfect meal</span>.</h3>
  <br />

  <div class="icon-box-1 text-center">
          <!-- Container -->
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!-- Icon Box One Item -->
                <div class="icon-box-1-item">
                  <!-- Icon Box One Icon -->
                  <a href="/"><i class="fa fa-cutlery color"></i></a>
                  <!-- Icon Box One Headeing -->
                  <h4><a href="/">Groceries</a></h4>
                  <!-- Icon Box One Paragraph -->
                  <p>Check what groceries you have below. In the Miscellaneous section search and add more specific or unusual items from over 12,000 ingredients. Registered users' groceries are saved for next time.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Icon Box One Item -->
                <div ng-click="save()" class="icon-box-1-item">
                  <a href="/recipes"><i class="fa fa-search orange"></i></a>
                  <h4><a href="/recipes">Search</a></h4>
                  <p>Select groceries to cook, and search from over 1 Million recipes through Yummly. <span class="color">Chef Hat</span> will score, rank and help you filter the results so you can find something to cook now.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Icon Box One Item -->
                <div ng-click="save()" class="icon-box-1-item">
                  <% if user_signed_in? %>
                  <a href="/recipes/favorites"><i class="fa fa-heart red"></i></a>
                  <h4><a href="/recipes/favorites">Favorite</a></h4>
                  <% else %>
                  <a href="/users/sign_up"><i class="fa fa-heart red"></i></a>
                  <h4><a href="/users/sign_up">Favorite</a></h4>
                  <% end %>
                  <p>Save your favorite recipes for easy access. Filter your favorites to quickly find the perfect recipe for the perfect occasion. Only available for registered users.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Icon Box One Item -->
                <div ng-click="save()" class="icon-box-1-item">
                  <% if user_signed_in? %>
                  <a href="/groceries/shop_list"><i class="fa fa-shopping-cart brown"></i></a>
                  <h4><a href="/groceries/shop_list">Shop</a></h4>
                  <% else %>
                  <a href="/users/sign_up"><i class="fa fa-shopping-cart brown"></i></a>
                  <h4><a href="/users/sign_up">Shop</a></h4>
                  <% end %>
                  <p>Add missing ingredients to a shopping listing from the recipe search results, then conveniently manage your shopping list for optimal shopping. Only available for registered users.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z_PUwrCvokY" frameborder="0" allowfullscreen></iframe>
        </div>

</div>

<!-- Page heading one ends -->      

<!-- Main content starts -->

<div class="main-block">
  <div class="smart-forms">

  <!-- Parallax block one -->
  <form>
  <div class="parallax-one">
    <div class="container">
      <!-- Parallax element block -->
      <div class="p-element">
<!--    <h2>Groceries!</h2> -->

        <!-- Accordion starts -->
        <div class="panel-group" id="accordion-alt2">
         <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
          <div class="panel panel-transparent br-green"> 
          <!-- Panel heading -->
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseOne-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="green">
               Fresh Produce
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseOne-alt2" class="panel-collapse collapse">
            <!-- Panel body -->
            <div class="panel-body section">
                            
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'produce'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
              
            </div>
           </div>
          </div>
          <div class="panel panel-transparent br-red">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseTwo-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="red">
               Meats, Seafood & Tofu
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseTwo-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'meat' || grocery.grocery_category === 'seafood'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>

            </div>
           </div>
          </div>
          <div class="panel panel-transparent br-blue">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseThree-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="blue">
               Bakery & Dairy
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseThree-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'bakery' || grocery.grocery_category === 'dairy'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-transparent br-white">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseFour-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="white">
               Other Fridge & Freezer Items
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseFour-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'other_frig'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-transparent br-rose">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseFive-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="rose">
               Other Pantry Items
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseFive-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'other_dry'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-transparent br-orange">
           <div data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseSix-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="orange">
               Spices & Sauces
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseSix-alt2" class="panel-collapse collapse">
            <div class="panel-body">
              
                <div ng-repeat="grocery in groceries | orderBy:'description'" ng-if="grocery.grocery_category === 'spices' || grocery.grocery_category === 'sauces'">
                  <label ng-class="{blue: grocery.current_user}" class="option col-xs-2">
                    <input type="checkbox" ng-model="grocery.current_user">
                    <span class="checkbox"></span>
                    {{ grocery.description }}
                  </label>
                </div>
            
            </div>
           </div>
          </div>
          <div class="panel panel-transparent br-grey">
           <div ng-click="ingredientSearchAll()" data-toggle="collapse" data-parent="#accordion-alt2" href="#collapseSeven-alt2" class="panel-heading">
            <h4 class="panel-title">
              <a class="grey">
               Miscellaneous
              </a>
              <button ng-click="save()" class="pull-right btn btn-grey btn-no-border">Save</button>
            </h4>
           </div>
           <div id="collapseSeven-alt2" class="panel-collapse collapse">
            <div class="panel-body">

              <div>
                <label>Ingredient Search (please allow 5 seconds for 12,000 ingredients to load):
                  <input list="searchIngredients" ng-model="searchIngredient">
                  <button ng-click="add(searchIngredient)">Add</button>
                  <datalist id="searchIngredients">
                  <option ng-repeat="ingredient in searchIngredients | orderBy: ingredient">{{ ingredient }}</option>
                  </datalist>
                </label>
                <div ng-repeat="ingredient in userIngredients | orderBy:'description'">
                  <label ng-class="{blue: ingredient.current_user}" ng-show="ingredient.current_user" class="option col-xs-2">
                    <input type="checkbox" ng-model="ingredient.current_user">
                    <span class="checkbox"></span>
                    {{ ingredient.description }}
                  </label>
                </div>
              </div>

            </div>
           </div>
          </div>
        </div>
        </div>
        <!-- Accordion ends -->
      </div>
    <div class="recipe-search-btn">
    <a ng-click="save()" class="btn btn-lg btn-orange" href="/recipes">Recipe Search</a>
    </div>
    </div>
  </form>

  </div>
</div>

<!-- Main content ends -->
  </div>
</div>