<div class="main-block">
  <div class="container">
  
  <h1>Test Show</h1>
  
  <%= form_tag "/groceries/#{current_user.id}", method: :patch do %>
    <% @produces.each do |produce| %>
      <div>
        <%= check_box_tag(produce.id) %>
        <%= label_tag(produce.id, produce.description) %>
      </div>
    <% end %>
  <%= submit_tag "Save" %>
  <% end %>
  
  </div>
</div>