// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe-search-btn {
  max-width: 650px;
  margin: 0 auto;
  padding: 35px 25px;
  text-align: center;
}

body {
    background:#c33;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: #fff;
}