// Place all the styles related to the groceries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe-search-btn {
  max-width: 650px;
  margin: 0 auto;
  padding: 35px 25px;
  text-align: center;
}

