<!DOCTYPE html>
<html>
<head>
  <title>ChefHat</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <!-- Description, Keywords and Author -->
  <meta name="description" content="Your description">
  <meta name="keywords" content="Your,Keywords">
  <meta name="author" content="ResponsiveWebInc">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/">
</head>
<body>
  
  <!-- Outer Starts -->
  <div class="outer">
    
    <!-- Header two Starts -->
    <div class="header-1">
      
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <!-- Logo section -->
            <div class="logo">
              <h1><a href="/"><i class="fa fa-cutlery"></i> ChefHat</a></h1>
            </div>
          </div>
          <div class="col-md-9">
            
            <!-- Navigation starts.  -->
            <div class="navy">      
              <ul>
                <!-- Main menu -->
                <li><a href="/">Groceries</a></li>
                <li><a href="/recipes">Recipe Search</a></li>
                <% if user_signed_in? %>
                <li><a href="/recipes/favorites">Favorites</a></li>
                <li><a href="/groceries/shop_list">Shopping List</a></li>
                <% end %>
                <li><%= link_to "G-I Join", "/grocery_ingredient_joins/edit", method: :get if current_user %></li>
                <li class="pull-right"><%= link_to "Sign-Out", "/users/sign_out", method: :delete if current_user %></li>
                <li class="pull-right"><%= link_to "Sign-In", "/users/sign_in" unless current_user %></li>
                <li class="pull-right"><%= link_to "Sign-Up", "/users/sign_up" unless current_user %></li>
              </ul>
            </div>              
            <!-- Navigation ends -->
          </div>    
        </div>
      </div>
    </div>
    
    <!-- Header two ends -->
    
    <%= yield %>

    <!-- Footer Starts -->

    <footer>
      <!-- Container -->
      <div class="container">
        <!-- Footer Content -->
        <!-- Paragraph -->
        <p class="pull-left">Copyright &copy; 2015 - <a href="/">ChefHat</a></p>
        <ul class="list-inline pull-right">
          <!-- List -->
          <li><a href="/">Home</a><li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="contact-us.html">Contact</a></li>
        </ul>
        <!-- Clearfix -->
        <div class="clearfix"></div>
      </div>
    </footer>

    <!-- Footer Ends -->

  </div>
  <!-- Outer Ends -->   

  <!-- Scroll to top -->
  <span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>

</body> 
</html>